<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiederbelebung der Denker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script id="angularScript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <style type="text/css">
        body{
            padding-top: 70px;
        }
        .resultWell {
            margin-top:10px;
        }
        .resultSubWell {
            margin-top:10px;
            margin-left:20px;
            overflow:scroll;
            max-height: 450px;
        }
    </style>
</head>
<body ng-app="searchApp" >
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wiederbelebung der Denker</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" target="_blank">Home</a></li>
                <li><a href="#" target="_blank">Über uns</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container", ng-controller="SearchCtrl">
    <div class="jumbotron">
        <h3>Suchbegriff eingeben</h3>
        <small>Hinweis: Noch keine Echtdaten verfügbar; suche gibt Dummyergebnis aus</small>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchtext" id="search_input" placeholder="Suchbegriff eingeben..." ng-change="searchInputChanged()">
            </div>
            <button type="submit" ng-click='searchButtonClicked();' class="btn btn-primary" id="thesearchbutton" disabled>Suche</button>
        </form>
    </div>
    <div>Suchergebnisse: <img src='/images/ajax-loader.gif' id='loadingGif' style='display:none;width:32px;height:32px;'/> {{hitcount}} </div>

    <div class="well well-lg resultWell" ng-repeat="chapter in chapters">
        <sup>Ergebnis {{chapter.hit + 1}}</sup>
        <h3>{{chapter.displaytitle}}</h3>
        <div>
            <small>
                <p/>
                <span ng-bind-html="chapter.highlighttext"></span>
            </small>
            <br/>
            <br/>
            <button class="btn btn-success" data-ng-attr-id="open_button_{{chapter.hit}}" ng-click="openChapterClicked(chapter.hit)">Kapitel öffnen</button>
            <button class="btn btn-success" data-ng-attr-id="close_button_{{chapter.hit}}" ng-click="closeChapterClicked(chapter.hit)" style="display:none;">Kapitel schließen</button>
            <div class="well well-sm resultSubWell" data-ng-attr-id="detailed_text_div_{{chapter.hit}}" ng-bind-html="chapter.displaytext" style="display:none;"></div>
        </div>
    </div>

    <br/>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>no &copy;, just free software: <a href="https://bitbucket.org/geschel/libertarier">Source Code</a></p>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/SearchController.js"></script>
</div>
<code id="debug"></code>
</body>
</html>                                		